@import "tailwindcss";

:root {
  --black-50: #FBFBFB;
  --black-200: #EBEBEB;
  --black-300: #D2D3D6;
  --black-400: #A0A4AD;
  --black-500: #737780;
  --black-900: #171B26;
  --secondary-color: #A8D5BA;
  --primary-green: #88AD89;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-quicksand: var(--font-quicksand);
  
  --color-black-50: var(--black-50);
  --color-black-200: var(--black-200);
  --color-black-300: var(--black-300);
  --color-black-400: var(--black-400);
  --color-black-500: var(--black-500);
  --color-black-900: var(--black-900);
  --color-secondary: var(--secondary-color);
  --color-primary-green: var(--primary-green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  background: #000;
  color: var(--black-900);
}

.bg-hero {
  background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
}
